#navigation-container .nav-item-name {
  opacity: 0;
  width: 0;
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
}

#navigation-container:hover .nav-item-name {
  opacity: 1;
  width: auto;
  display: block;
}

#navigation-container .nav-brand {
  opacity: 0;
  width: 0;
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
}

#navigation-container:hover .nav-brand {
  opacity: 1;
  width: auto;
}

#navigation-container .brand-icon {
  display: block;
}

#navigation-container:hover .brand-icon {
  display: none;
}

@media (max-width: 1023px) {

  #navigation-container .nav-item-name,
  #navigation-container .nav-brand {
    opacity: 1;
    width: auto;
    display: block;
  }

  #navigation-container .brand-icon {
    display: none;
  }
}